@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html {
    font-family: 'Open Sans', sans-serif;
}

.player {
    width: 75px;
    height: 75px;
    background-color: #ff0000;
    text-align: center;
    margin: 0;
    padding: 0;
    position: absolute;
    padding-right: 0;
}

.playerImage {
    margin-top: 15px;
    padding-top: 20px;
}